@model IEnumerable<Fall2025_Project3_krhanson3.Models.MovieActor>

@{
    ViewData["Title"] = "MovieActors";
}

<h1>Movie & Actor Relationships</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Movie Title</th>
            <th>Actor Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Movie?.Title
                </td>
                <td>
                    @item.Actor?.Name
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MovieActorId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MovieActorId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MovieActorId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
