@model Fall2025_Project3_krhanson3.Models.Movies

@{
    ViewData["Title"] = "Movie Details";
}

<h1>Details</h1>

<div>
    <h4>Movies</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>

        <dt class="col-sm-2">
            IMDB
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.IMDBUrl))
            {
                <a href="@Model.IMDBUrl" target="_blank" class="link-primary">IMDB Page</a>
            }
            else
            {
                <span class="text-muted">Not available</span>
            }
        </dd>

        <dt class="col-sm-2">
            Poster
        </dt>
        <dd class="col-sm-10">
            @if (Model.Poster != null && Model.Poster.Length > 0)
            {
                var imageBase64 = Convert.ToBase64String(Model.Photo);
                var imageSrc = $"data:image/png;base64,{imageBase64}";
                <img src="@imageSrc" alt="Movie Poster" class="img-thumbnail mt-2" style="width:150px; height:150px; object-fit:cover;" />
            }
            else
            {
                <span class="badge bg-secondary">No poster available</span>
            }
        </dd>
    </dl>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.MovieId" class="btn btn-outline-primary">Edit</a>
    <a asp-action="Index" class="btn btn-outline-secondary ms-2">Back to List</a>
</div>
